*{
	
}

body{
}

hr{
	width: 80%;
	margin-left: 10%;
}

.cont{
	margin-top: 35px;
	background-color: white;
}

.cont h1{
	margin-top: 10px;
	color: #ffc800;
	font-size: 28px;
	margin-left: 15px;
}

.cont h3, h2{
	font-size: 22px;
	margin-left: 15px;
}

.cont h2{
	text-align: right;
	padding-right: 150px;
	color: #c1c1c1;
}
.opts{
	overflow: hidden;
}


.opts div{
	overflow: hidden;
}

.tablinks{
	border: none;
	padding: 10px 10px;
	background-color: #ffc800;	
	border-top-right-radius: 10px;	
}
.tablinks:hover{
	transition: 0.5s;
	background-color: #1c1c1c;
	color: white;
}

.tablinks.active{
	background-color: #1c1c1c;
	color: white;
}

.tabcontent{ 
	border: 1px solid #c1c1c1; 	
	overflow: auto;
	max-height: 780px;
}