@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*,
*::after,
*::before{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
body{
	margin-top: 5%;
	background-color: #2d2d2d;
}
.quan{
	width: 115px;
}
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 55px;
}

section h4{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
p{
	font-size: 22px;
}
.aLink{
	font-size: 22px;
	color: #fcc800;
}

.aLink:hover{
	color: white;
}
.deets a{
	color: #fcc800;
}
.deets h2{
font-family: 'Ubuntu', sans-serif;
font-size: 23px;
}

h4{
	font-size: 22px;
}
i{
	color: white;
}
input[type="number"]{
  -moz-appearance: textfield;
  text-align: center;
	font-size: 20px;
	box-sizing: content-box;
  margin: 0;
  width: 40px;
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
	border: none;
}

input[type="submit"]{
	border: none;
	color: #ffc088;
	background-color: transparent;
	font-weight: bolder;
	font-size: 30px;
}

.deets .cartImg{
	height: 160px;
	width: auto;
	margin-bottom: 10px;
}

.tot{
	background-color: #4d4d4d;
	text-align: right;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 10px;
}

.ch{
	 text-align: right;
	 margin-bottom: 10px;
}
.btn{
	margin-top: 1%;
	background-color: #1c1c1c;
	color: white;
	border: none;
	padding: 10px 35px;
}

@media screen and (max-width: 597px) {

	.heading{
		margin-top: 75px;
	}
  .headingText p{
  	visibility: hidden;
  	margin-top: -80px;
  }

  h2{
  	font-size: 16px;
  }
}

