@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    color: #fff;
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: #2d2d2d;
}
.rcrdPage{
    height: max-content;
    /* border: 1px solid green; */
    width: 95%;
    position: absolute;
    top: 0%;
    /* right: 0%; */
    left: 0%;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.content-table{
    /* border-style: none; */
    border: none !important;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    /* left: -10%; */
    /*   */
    transform: translateX(-50%);
}

table, th, td, tr{
    padding: 10px;
    border-style: none;
}

table{
    width: 100%;
    /* width: fit-content; */
    border-collapse: separate;
    border-spacing: 0 10px;
    border-left: #2d2d2d;
    border-right: #fff;
    /*   */
}

h1,
h3{
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #ffc800;
}

h3{
    color: #ffffff72;
}

th{
    background-color: #191919;
    /*   */
}

th:first-child{
    border-radius: 10px 0 0 10px;
}

th:last-child{
    border-radius: 0 10px 10px 0;
}

.header{
    width: 100%;
    position: absolute;
    left: 0%;
    padding-left: 30px;
}

.head{
    background-color: #424242;
    color: #ffc800;
}

button{
    background: none;
    border-style: none;
}

button:hover{
    cursor: pointer;
}

button:hover > img{
    transform: scale(.9);
    transition: ease-in .2s;
}

a{
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: auto;
    padding: 20px;
    padding-left: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #191919;
    /* background: none; */
    
}
a:first-child{
    /* margin-top: 30%; */
    /*   */
    border-radius: 0 0 25px 0;
}
a:nth-child(2){
    background-color: #2d2d2d;
    border-radius: 50px 0 0 50px;
    /*   */
    box-shadow: -35px 0 0 10px #191919;
    padding-left: 50px;
    color: #ffc800;
}
a:nth-child(3){
    border-radius: 0 25px 0 0;
}

.sidebar-box{
    background-color: #2d2d2d;  
}
#logo{
    font-family: 'Pacifico', cursive;
    /* border: 1px solid green; */
}
#no_data{
    /*   */
    position: absolute;
    margin-top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.seller-profile{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
}
.zoom{
    /*   */
    position: relative;
}
.seller-qr{
    width: 90px;
    height: 90px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 10px;
    transition: ease-in.2s;
}
.seller-qr:hover{
    transition: ease-out .2s;
    cursor: pointer;
    border: 8px solid #ffc800;
    transform: scale(.9);
}
.artwork-img{
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: ease-in .2s;
}
.artwork-img-col > .img-fluid{
    /*   */
    width: 100px;
    display: block;
}
.report{
    float: left;
    background: none;
    border-radius: 0 !important;
    width: fit-content !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    /*   */
    display: flex;
    justify-content: center;
}

.report img:hover{
    transition: ease-in .4s;
    transform: scale(.9);
}
.posted-art-img{
    width: 100px;
    position: relative;
    top: 50%;
    margin-top: 10px;
}
.posted-art-img:hover{
    transition: ease-in-out .4s;
    transform: scale(.9);
    cursor: pointer;
    background: none;
    border: 2px solid #fff;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
#image-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#img-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.author{
    text-transform: capitalize;
} 
@media (orientation: portrait) {
    @media only screen and (max-width: 1000px){
        *{
            /*   */
            font-size: 10px;
            padding: 0;
            margin: 0 auto;
            /* display: flex; */
        }
        table{
            /*   */
            width: 100%;
            margin-left: 0 !important;
        }
        .header{
            /*   */
            padding: 0;
            margin: 0;
        }
        #no_data{
            /*   */
            position: absolute;
            margin-top: 100%;
            top: 50%;
            transform: translateX(-50%);
        }
        table, th, td, tr{
            padding: 5px;
        }
        th{
            width: 100px;
            border-radius: 0 !important;
        }
        .sel-head, .sel-bod{
            width: 200px;
        }
        button img{
            width: 20px;
            height: 20px;
        }
        .content-table .hide{
            display: none;
            /*   */
        }
        .content-table{
            margin: 0;
            margin-top: 10%;
            padding: 0%;
            display: block;
        }
        .rcrdPage{
            margin-left: 0px;
            width: 100%;
        }
        .report{
            position: absolute;
            right: 5%;
            top: 5%;
            float: none;
        }
        .report img{
            transform: scale(.8);
        }
        .report p{
            display: none;
        }
    }
}
@media (orientation: landscape) {
    @media only screen and (max-width: 1000px){
        .content-table .l-hide{
            /*   */
            display: none;
        }
        .content-table{
            /*   */
        }
        th{
            /*   */
            /* width: unset; */
            font-size: smaller;
        }
        .rcrdPage{
            margin-left: 2px;
            /* width: 100%; */
        }
        .sel-name{
            border-radius: 10px 0px 0px 10px;
        }
    }
}