@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: inline-block;
}
.container div{
    margin: 10px;
}
.container div label{
    cursor: pointer;
}
.container div label input[type="checkbox"]{
    display: none;
}
.container div label span{
    position: relative;
    display: inline-block;
    background: #424242;
    padding: 15px 30px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    font-weight: bolder;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    border: 2px solid #ffc800;
}
.container div label input[type="checkbox"]:checked ~ span{
    background: #ffc800;
    color: #000;
    text-shadow: none;
}
input[type='submit']{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../assets/img/approve.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
    border: none;
    background-color: #222;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid #ffc800; */
    box-shadow: 0px 0px 0px 5px #222,
    0px 0px 0px 8px #ffc800;
    margin-top: 100px;
}
input[type='submit']:hover{
    transition: ease-in .3s;
    transform: scale(.9) translateX(-50%);
    background-color: #ffc800;
    box-shadow: 0px 0px 0px 5px #ffc800,
    0px 0px 0px 8px #ffc800;
    /* border: 2px solid #ffc800; */
}
h2,p{
    text-align: center;
    color: #ffc800;
    font-family: "Poppins", sans-serif;

}
p{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}
h2{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}