*,
*::after,
*::before{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	/* border: 1px solid red; */
}
body{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	background-color: grey;
}
.log{
	background-attachment: fixed;
	background-color: #2d2d2d;
	margin: auto;
	max-width: 100%;
	width: 460px;
	padding: 50px 50px;
	margin-top: 7%;
	border-radius: 25px;
}

.reg{
	background-attachment: fixed;
	background-color: #2d2d2d;
	margin: auto;
	max-width: 100%;
	width: 460px;
	padding: 50px 50px;
	margin-top: 0.5%;
	border-radius: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.logo{
	width: 30%;
	margin-left: 35%;
	/* border: 1px solid red; */
	border-radius: 50%;
	filter: invert(1);
}
h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45px;
	text-align: center;
	/* color: rgb(78,78,86); */
	color: #ffc800;
}
p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 4%;
	text-align: center;
	color: #fff;
}
a{
	color: #ffc800;
}
.message{
	text-align: center;
	border-radius: 10px;
	color: white;
	padding: 10px;
	background-color: #ff6863;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
input[type=password], [type=email], [type=text]  { 
	width: 95%; 
	padding: 15px 20px; 
	margin: 5px 6px; 
	box-sizing: border-box; 
	border: none; 
	border-bottom-style: inset;
	background-color: #2d2d2d;
	color: #fff; } 

.btn {
	margin-top: 4%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition-duration: 0.4s; 
	color: white; 
	border:none; 
	padding: 13px 32px; 
	text-align: center; 
	text-decoration: none;
	font-size: 15px; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: rgb(78,78,86);  
	 }

.btn:hover {
  background-color: #ffc800;
  color: white;
}
@media only screen and (max-width: 1000px){
	.log{
		/* border: 1px solid red; */
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		background-color: rgba(41, 41, 41, .8);
		border-radius: 0;
	}
	input[type=password], [type=email], [type=text]{
		background-color: rgba(41, 41, 41, .5);
	}
	h3{
		color: #fff;
	}
}