body{
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	background-color: grey;
}
.log{
	background-attachment: fixed;
	background-color: white;
	margin: auto;
	max-width: 100%;
	width: 460px;
	padding: 50px 50px;
	margin-top: 7%;
	border-radius: 25px;
}

.reg{
		background-attachment: fixed;
	background-color: white;
	margin: auto;
	max-width: 100%;
	width: 460px;
	padding: 50px 50px;
	margin-top: 0.5%;
	border-radius: 25px;
}
.logo{
	width: 30%;
	margin-left: 35%;
}
h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45px;
	text-align: center;
	color: rgb(78,78,86);
}
p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 2	%;
}
a{
	color: #ffc800;
}
.message{
	text-align: center;
	border-radius: 10px;
	color: white;
	padding: 10px;
	background-color: #ff6863;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
input[type=password], [type=email], [type=text]  { 
	width: 95%; 
	padding: 15px 20px; 
	margin: 5px 6px; 
	box-sizing: border-box; 
	border: none; 
	border-bottom-style: inset;
	background-color: white;
	color: black; } 

.btn {
	margin-left: 30%;
	transition-duration: 0.4s; 
	color: white; 
	border:none; 
	padding: 13px 32px; 
	text-align: center; 
	text-decoration: none;
	font-size: 15px; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: rgb(78,78,86);  
	 }

.btn:hover {
  background-color: #ffc800;
  color: white;
}