@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
}
body{
    background-color: #2d2d2d;
}
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 80px;
    width: 100%;
    /* background-color: #24252A; */
    z-index: 200;
}

li, a, button{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header #navbar{
    border: 1px solid red;
}

ul{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li{
    transition: all 0.3s ease 0s;
}

.nav-links li:hover{
    color: #ffc800;
    cursor: pointer;
}

.account-btn{
    background-color: #2f3640;
    border-radius: 50%;
    padding: 5px;
    height: 60px;
    width: 60px;
    margin-right: 5px;
}
    
.submenu{
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
    background: #212529;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: none;
    padding: 15px;
}
    
.account-btn .submenu a{
    text-decoration: none;
    color: #fff;
}

.account-btn:hover{
    border-radius: 50%;
    cursor: pointer;
}

.account-btn:hover>img{
    transform: scale(.8);
    opacity: .5;
    transition: .5s;
}

.account-btn:hover>.submenu{
    display: block;
    transition: .1s;
}

#account-lbl:hover{
    color: #ffc800;
}

.account-btn img{
    width: 50px;
    background: none;
}
.cart-btn{
    background-color: #2f3640;
    border-radius: 50%;
    padding: 5px;
    height: 60px;
    width: 60px;
}

.cart-btn:hover{
    border-radius: 50%;
    cursor: pointer;
}

.cart-btn:hover>img{
    transform: scale(.7);
    opacity: .5;
    transition: .5s;
}

.cart-btn img{
    width: 50px;
    transform: scale(.8);
    background: none;
}

.con-btn{
    position: fixed;
    right: 10%;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.head-navbar{
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    color: #ffc800;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    position: fixed;
    left: 10%;
}
#logo{
    color: #ffc800 !important;
    font-family: 'Pacifico', cursive !important;
    font-size: 30px;
    font-weight: 300;
}
a:hover{
	color: #ffc800;
}
#drop-down{
    display: none;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 750px){
    #drop-down{
        display: block;
        width: 25px;
        height: 25px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .hidden{
        display: none;
        position: absolute;
        background-color: #212529;
        margin-top: 10px;
        margin-left: -10px;
    }
    .hidden li{
        padding: 10px;
    }
    .account-btn img, .cart-btn img{
        width: 30px;
        height: 30px;
    }
    .account-btn, .cart-btn, .drop-down-btn{
        width: 40px;
        height: 40px;
    }
    .drop-down-btn{
        background-color: #2f3640;
        border-radius: 50%;
        padding: 10px;
        /* border: 1px solid red; */
    }
    ul{
        display: none;
    }
    .account-btn:hover>img{
        transform: scale(1);
        opacity: 1;
        transition: 0;
    }
}