@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    /* border: 1px solid red; */
}
body{
    background-color: #2d2d2d;
}
.wrapper{
    /* padding-top: 5%; */
    margin: 0 auto;
    /* padding: 0; */
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 0 !important;
    background: rgba(51, 51, 51, 0.9) !important;
    border-radius: 0% !important;
    padding-bottom: 100px;
}
#header{
    position: absolute;
    top: 20%;
    z-index: 1;
    text-align: center;
    color: #c0c0c0;
    font-family: 'Poppins', sans-serif;
}
table{
    margin-top: 4%;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #191919;
    border-radius: 10px;
	box-shadow: 5px 10px 5px rgba(0, 0, 0, .3);

}
table,td{
    /* border: 1px solid red; */
    border-collapse: collapse;
    width: 400px;
    height: auto;
    
    /* padding: 10px; */
}
table .pad{
    padding: 10px;
}
table .profile-col{
    width: 50px;
    background-color: #212529;
    border-radius: 10px 0 0 0;
}
table .author{
    background-color: #212529;
    border-radius: 0 10px 0 0;
    /* border: 1px solid red; */
}
table .author p{
    padding: 0;
    margin: 0;
    color: #ffffff72;
}
table td h3{
    text-transform: capitalize;
}
table td button{
    width: 100%;
    background-color: #222222;
    margin: 0;
    border: none;
}
table td button .blog-img{
    /* border: 1px solid red; */
    height: 200px;
    width: auto;
    display: block;
}
table td .profile-img{
    /* border: 3px solid rgb(18, 18, 255); */
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
table .blog-col{
    padding-bottom: 20px;
}
iframe{
    display: block;
}
iframe[src="https://gifer.com/embed/yB"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
iframe[src="https://gifer.com/embed/xw"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: none;
}
@media only screen and (max-width: 1000px){
    .wrapper{
       padding-top: 25%;
       overflow-x: hidden;
    }
    table{
        margin-top: 5%;
        width: 100%;
        border-radius: 0%;
        box-shadow: none;
    }
    table .profile-col,table .author{
        border-radius: 0;
    }
}