@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    color: #fff;
    margin: 0 auto;
}

body{
    margin-top: 5%;
}

.seller-con{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
input{
    font-size: 20px;
    padding: 5px;
    width: 400px;
    border-radius: 10px;
    border-style: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
input[type="file"]{
    color: #fff;
}
table{
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, .3);
    background-color: #212529;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
td{
    /* width: 100px; */
}
table,td{
    border-spacing: 20px;
    /* border-style: none; */
    /* border: 1px solid red; */
}
td:last-child{
    text-align: center;
    /* border: 1px solid red; */
}
button, .btn{
    padding: 15px 25px;
    background-color: #4d4d4d;
    border-style: none;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
}
button:hover{
    background-color: #ffc800;
    color: #000;
}
form{
    border: 1px solid red !important;
}
td:first-child div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
    /* width: 1000px; */
}
div hr:first-child{
    width: 50px;
    border-color: #9c9c9c;
}
div hr:last-child{
    /* border: 1px solid red; */
    width: 100%;
    border-color: #9c9c9c;
}
td:first-child div h2{
    /* border: 1px solid red; */
    width: 300px;
    padding: 0 10px;
    color: #9c9c9c;
}
@media screen and (max-width: 321px){
    input[type=text] {   
        width: 20%;
    }
}
@media only screen and (max-width: 1000px){
    *{
        /* border: 1px solid red; */
    }
    table{
        width: 100%;
        /* background: none; */
        box-shadow: none;
        border-radius: 0;
    }
    input{
        width: 100%;
    }
    label{
        font-size: smaller;
    }
    td:first-child div h2{
        font-size: smaller;
    }
}